body{
    font-family: 'Source Sans Pro', sans-serif;
    display:grid;
    grid-template-areas:
    "header header header header"
    "leftside image metadata rightside"
    "footer footer footer footer";
    grid-template-rows: 15fr 60fr 5fr;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    column-gap: 5%;
}

header{
    grid-area: header;
    margin-left: 20px;
    margin-right: 20px;
}

#lbutton{
    grid-area: leftside;
}

#imagecontainer{
    grid-area: image;
}

#tablecontainer{
    margin-top: 10px;
    grid-area: metadata;
    font-size: .9em;
}    

#rbutton{
    grid-area: rightside;
}

footer{
    border-top: 1px solid rgb(92, 92, 92);
    vertical-align: text-bottom;
    grid-area: footer;
    margin-left: 20px;
    margin-right: 20px;
}

.bold{
    font-weight: bold;
}

img{
    margin-top: 5px;
    width: 100%;
    height: auto;
}

/*arrow styles*/

.arrow {
    border: solid rgb(92, 92, 92);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: 30vh;
    margin-left: 50% ;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: 30vh;
    margin-left: 50% ;
  }

  @media all and (max-width: 1200px){
    body{
      grid-template-areas:
      "header header header "
      "leftside image rightside"
      "leftside metadata rightside"
      "footer footer footer ";
      grid-template-rows: 1fr 4fr 4fr .5fr;
      grid-template-columns: 1fr 4fr 1fr;
    }

    .right {
        margin-top: 60vh;
    }
    .left {
        margin-top: 60vh;
    }
}

@media all and (max-width: 700px){
    body{
        grid-template-areas:
        "header header header "
        "leftside image rightside"
        "leftside metadata rightside"
        "footer footer footer ";
        grid-template-rows: 1fr 2fr 4fr .5fr;
        grid-template-columns: 1fr 4fr 1fr;
      }

  .right {
      margin-top: 40vh;
  }
  .left {
      margin-top: 40vh;
  }
}